.infoContainer {
    box-shadow   : 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin       : 0 20px 20px 20px;
    place-items  : center;

}


.infoContainer div {
    flex      : 0 0 50%;
    text-align: center;
}

.infoContainer p {
    font-weight   : bold;
    text-transform: capitalize;
    margin-top    : 10px;
}


.stats p {
    font-weight: 500;
    text-align : left;
}


.searchDropDown {
    margin: 0px 30px 30px 30px;

}


@media(max-width: 450px) {

    .infoContainer div img {
        width: 60%;
    }

    .infoContainer {
        display: block;
    }

    .infoContainer div {
        flex-wrap: wrap;
    }

    .stats p {
        text-align: center;
    }
}

@media(min-width: 451px) {
    .stats p {
        margin-left: 50px;
    }
}
