.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.container p {
    border: 1px solid black;
    border-radius: 20px;
}

.title {
    text-align: center;
}