.pokeSprite {
    width: max-content;
    margin-left: 55px;
}

.card {
    width: 14rem;
    margin-bottom: 20px;
}

.test {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


@media (min-width: 300px) and (max-width: 900px) {
    .card {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {
    .flex {
        display        : flex;
        justify-content: space-evenly;
        flex-wrap      : wrap;
        
    }

}