.container {
    display: grid;
   
}


.pokemonsContainer {
    background-color: rgba(52, 58, 64, 0.9);
}

@media (min-width: 900px) {
    .container {
        max-width: 1100px;
        margin   : auto;
    }

    .pokemonsContainer {
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .pokemonsContainer {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
    }
}