.moreInfo {
    border-radius: 50%;
    width        : 100px;

}

.hrMargin {
    margin-top   : 40px;
    margin-bottom: 40px;
}

hr {
    padding   : 0;
    border    : none;
    border-top: medium double #333;
    color     : #333;
    text-align: center;
}

hr:after {
    display   : inline-block;
    position  : relative;
    top       : -0.7em;
    font-size : 1.5em;
    padding   : 0 0.25em;
    background: white;
}

/* Text between <hr> tag */
.hrGeneral:after {
    content: 'Pokedex Entry';
}

.hrAbilities:after {
    content: 'Abilities';
}

.hrTraining:after {
    content: 'Training';
}

.hrBreeding:after {
    content: 'Breeding';
}

.hrEvolution:after {
    content: 'Evolution';
}

.hrVarieties:after {
    content: 'Varieties';
}

.hrForms:after {
    content: 'Forms & Shiny';
}

.hrStats:after {
    content: 'Stats';
}

.hrDamage:after {
    content: 'Types Damage';
}

.formsContainer {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}

.statsContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
    margin-left: 20%;

}


.statsName {
    justify-self: start;
    text-transform: capitalize;
  
}

.statsValue {
    justify-self: start;
}

