.moreInfo {
    border-radius: 50%;
    width        : 100px;

}

.fill {
    /* max-width    : 300px; */
    width        : 46%;
    margin       : auto;
    border-radius: 20px;
    box-shadow   : 0px 0px 2px black;
    margin-bottom: 70px;
    margin-top   : 50px;
}



.typesContainer {
    display  : flex;
    max-width: 600px;
    margin   : auto;
}

.pokeNameHeader {
    font-size: 30px;

}

.hrMargin {
    margin-top   : 40px;
    margin-bottom: 40px;
}

hr {
    padding   : 0;
    border    : none;
    border-top: medium double #333;
    color     : #333;
    text-align: center;
}

hr:after {
    display   : inline-block;
    position  : relative;
    top       : -0.7em;
    font-size : 1.5em;
    padding   : 0 0.25em;
    background: white;
}

/* Text between <hr> tag */
.hrGeneral:after {
    content: 'Pokedex Entry';
}

.hrAbilities:after {
    content: 'Abilities';
}

.hrTraining:after {
    content: 'Training';
}

.hrBreeding:after {
    content: 'Breeding';
}

.hrEvolution:after {
    content: 'Evolution';
}

.hrVarieties:after {
    content: 'Varieties';
}

.hrForms:after {
    content: 'Forms & Shiny';
}

.hrStats:after {
    content: 'Stats';
}

.hrDamage:after {
    content: 'Types Damage';
}

.formsContainer {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
}

.statsContainer {
    display              : grid;
    grid-template-columns: 2fr 1fr;
    column-gap           : 15px;
    margin-left          : 20%;

}


.statsName {
    justify-self  : start;
    text-transform: capitalize;

}

.statsValue {
    justify-self: start;
}



@media(min-width: 500px) {
    .pokedexSizeWeight {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        max-width            : 500px;
        margin               : auto;
    }
}

.buttonContainer {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    margin-top     : 30px;
}

.categoryButton {
    font-weight     : bold;
    border          : 1px solid black;
    border-radius   : 20px;
    background-color: transparent;
    font-size       : 1rem;
    margin-top      : 15px;
    max-width       : 300px;
    min-width       : 250px;
    height          : 27px;
    padding         : 0;
}

.categoryButton:hover {
    background-color: #6c757d;
    color           : white;
    font-size       : 1.1rem;
}