
.search {
    border-radius: 20px;
    border: none;
    height: 24px;
}

.container {
    margin-top: 40px;
}

.enabled {
    background-color:  rgba(96, 230, 96, 0.8);
}

.disabled {
    background-color: none;
}
/* background-color: rgba(96, 230, 96, 0.8);
color: black;
font-weight: bold; */