.search {
    border-radius: 20px;
    border       : none;
}

.container {
    display    : flex;
    margin-left: 5px;
    margin-top : 40px;
}



.button {
    /* formula borrowed from an ele used by reactstrap */
    height      : calc(1.5em + .75rem + 2px);
    margin-left : 5px;
    margin-right: 5px;
    width       : 15%;
}

.searchIcon {
    height: 100%;
}

