.container {
    display        : flex;
    justify-content: space-evenly;
    flex-wrap      : wrap;
    margin         : auto;
    max-width      : 700px;
}


.cursor:hover {
    cursor: pointer;
}

/* @media (min-width: 500px) {
    .container {
        justify-content: space-evenly;
        max-width      : 700px;
        margin         : auto;
    }
} */