/* .centerElements {
    position : fixed;
    top      : 50%;
    left     : 50%;

 
    transform: translate(-50%, -50%);
    min-width: 40%;

} */

.masterContainer {
    height: 100vh;
}

.fullBackground {
    background-image: url('https://wall.bestcarmagz.net/sites/default/files/pokemon-wallpapers-34898-6225497.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */
}

.title {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : auto;
    height         : 200px;
    font-size      : 80px;

}

.center {
    margin   : auto;
    padding  : 10px;
    max-width: 800px;
}

.introInfo {
    font-size: 18px;
}

p {
    text-align: center;
}


/* .dropdown {
    display        : flex;
    justify-content: space-evenly;

} */

/* @media (max-width: 700px) {
    .dropdown {
        flex-wrap: wrap;
    }

    .dropdown button {
        margin-top: 10px;
    }
} */